#gameScreen {
  background-image: url("gameAssets/level4background.png");
  background-size: cover;
  background-position: center;
  overflow: hidden;
  opacity: 1;
}

.horse {
  background-image: url(gameAssets/horse/horseframe0.png); /* Replace with the path to your sprite sheet */
  background-size: contain; /* Adjust as needed */
  width: 14.42%; /* Adjust as needed */
  aspect-ratio: 400 / 590; /* Adjust as needed */
  position: absolute;
  top: 500px;
  z-index: 5;
  background-repeat: no-repeat;
}
.cbhorse {
  background-image: url(gameAssets/cowboyhorse/cowboyhorse_0.png); /* Replace with the path to your sprite sheet */
  background-size: contain; /* Adjust as needed */
  width: 14.42%; /* Adjust as needed */
  aspect-ratio: 400 / 590; /* Adjust as needed */
  position: absolute;
  top: 500px;
  z-index: 5;
  background-repeat: no-repeat;
}
.chorse {
  background-image: url(gameAssets/horsecarriage/horsecarriage_0.png); /* Replace with the path to your sprite sheet */
  background-size: contain; /* Adjust as needed */
  width: 38%; /* Adjust as needed */
  aspect-ratio: 400 / 590; /* Adjust as needed */
  position: absolute;
  top: 500px;
  z-index: 5;
  background-repeat: no-repeat;
}
#texture {
  opacity: 0;
}
#levelOverlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url("gameAssets/level4assets/filmoverlay.png");
    background-size: cover; /* Adjust as needed */
    z-index: 10;
    animation: flicker 1s infinite alternate;
    pointer-events: none;
}
  
  @keyframes flicker {
    0% {
      opacity: 0.2;
    } /* Initial opacity */
    50% {
      opacity: 0.4;
    } /* Lower opacity */
    100% {
      opacity: 0.3;
    } /* Return to initial opacity */
  }
.wanted-container {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: flex-start; /* Align items from the start of the container */
  align-items: center; /* Align items vertically */
  z-index: 4; /* Higher z-index than #texture */
  top: 20px;
  left: 60.5%;
}


.wanted {
  image-rendering: pixelated;
  background-size: cover;
  background-position: center;
  width: 10vw; /* Reduce the size */
  height: 18vh; /* Reduce the size */
  margin-right: 5px; /* Reduce the margin */
}

#goldDisplay {
  font-family: Arial, Helvetica, sans-serif, cursive;
  font-size: 2vw;
  color: #000000;
  width: 20%;
  margin: 2%;
  position: absolute;
  bottom: 2%;
  left: 82%;
  z-index: 10000;
}
#goldDisplay:before {
  content: "\01F4B0"; /* unicode emojis */
  margin-right: 1vw;
}
